# *_Data Mining_*

In [2]:
import pandas as pd
import os

## _*AIM*_ - 
#### To mine the text data from the given files in which the data of each review is stored in seperate txt files and convert the data to csv form along with thier classification label for sentimental Analysis

### Source - https://ai.stanford.edu/~amaas/data/sentiment/

### Format of Files
##### There are two top-level directories [train/, test/] corresponding to the training and test sets. Each contains [pos/, neg/] directories for the reviews with binary labels positive and negative. Within these directories, reviews are stored in text files named following the convention [[id]_[rating].txt] where [id] is a unique id and [rating] is the star rating for that review on a 1-10 scale. For example, the file [test/pos/200_8.txt] is the text for a positive-labeled test set example with unique id 200 and star rating 8/10 from IMDb. The [train/unsup/] directory has 0 for all ratings because the ratings are omitted for this portion of the dataset.

In [39]:
def create_ds(a):
    review_list = []
    ratings = []
    dir = r'C:\Users\HRITHIK REDDY\Learning\MOVIe\aclImdb_v1\aclImdb'
    path = os.path.join(dir,a)
    path_pos = os.path.join(path,r'pos')
    path_neg = os.path.join(path,r'neg')
    for review in os.listdir(path_pos):
        review_path = os.path.join(path_pos,review)
        with open(review_path,'r') as f:
            try :
                a = f.readlines()
                review_list.append(a)
                ratings.append('positive')
                f.close
            except:
                f.close
                continue
    for review in os.listdir(path_neg):
        review_path = os.path.join(path_neg,review)
        with open(review_path,'r') as f:
            try:
                a = f.readlines()
                f.close
                review_list.append(a)
                ratings.append('negative')
            except:
                f.close
                continue
    data_dict ={'Text_Review':review_list,'Sentiment':ratings}
    data = pd.DataFrame(data_dict)
    return data

In [40]:
## Train Dataset  
Train_DS = create_ds(r'train')

In [41]:
Train_DS

                                             Text_Review Sentiment
0      [Bromwell High is a cartoon comedy. It ran at ...  positive
1      [Homelessness (or Houselessness as George Carl...  positive
2      [Brilliant over-acting by Lesley Ann Warren. B...  positive
3      [This is easily the most underrated film inn t...  positive
4      [This is not the typical Mel Brooks film. It w...  positive
...                                                  ...       ...
24979  [Towards the end of the movie, I felt it was t...  negative
24980  [This is the kind of movie that my enemies con...  negative
24981  [I saw 'Descent' last night at the Stockholm F...  negative
24982  [Some films that you pick up for a pound turn ...  negative
24983  [This is one of the dumbest films, I've ever s...  negative

[24984 rows x 2 columns]

In [45]:
os.chdir(r'C:\Users\HRITHIK REDDY\Learning\MOVIe')
Train_DS.to_csv('Train_reviews.csv')

---

In [42]:
## Test Dataset
Test_DS = create_ds(r'test')

In [43]:
Test_DS

                                             Text_Review Sentiment
0      [I went and saw this movie last night after be...  positive
1      [Actor turned director Bill Paxton follows up ...  positive
2      [As a recreational golfer with some knowledge ...  positive
3      [I saw this film in a sneak preview, and it is...  positive
4      [Bill Paxton has taken the true story of the 1...  positive
...                                                  ...       ...
24980  [I occasionally let my kids watch this garbage...  negative
24981  [When all we have anymore is pretty much reali...  negative
24982  [The basic genre is a thriller intercut with a...  negative
24983  [Four things intrigued me as to this film - fi...  negative
24984  [David Bryce's comments nearby are exceptional...  negative

[24985 rows x 2 columns]

In [46]:
Test_DS.to_csv('Test_reviews.csv')

---